.App {
    width: 100%;
    /* padding: 20px; */
    box-sizing: border-box;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 20px; */
    border-bottom: 1px solid #dee2e6;
    width: 100%;
  }
  
  header .logo img {
    height: 40px;
  }
  
  header nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
  }
  
  header nav a:hover {
    text-decoration: underline;
  }
  
  .code-editor-container {
    color: #3f3e3e;
  }

  .mainContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    width: 100%;
  }
  
  .codeEditorContainer {
    flex: 3;
    margin-right: 20px;
  }
  
  .languageSelect {
    margin-bottom: 10px;
  }
  
  /* .compileButton {
    margin-bottom: 10px;
    position: absolute;
    top: 5px;
    right: 10px;
  } */

  .code-editor-container {
      flex: 1;
      position: relative;
      width: 70%;
      padding: 10px;
  }

  .code-editor-container .compile-button{
    position: absolute;
    top: 5px;
    right: 10px;
    transform: translateX(-60px); 
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px; */
    padding: 5px 10px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    color: white;
  }

  .code-editor-container .save-button {
    position: absolute;
    top: 5px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px; */
    padding: 5px 10px;
    gap: 15px;
    background-color: #181717;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    color: white;
  }

  .compile-button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .compile-button:hover {
    background-color: transparent;
  }
  
  .compile-button:hover .text {
    color: #181717;
  }
  
  .compile-button svg path {
    transition: 400ms;
  }
  
  .compile-button:hover svg path {
    fill: white;
  }

  .save-button .text {
    color: white;
    font-weight: 700;
    font-size: 1em;
    transition: 400ms;
  }
  
  .save-button:hover {
    background-color: transparent;
  }
  
  .save-button:hover .text {
    color: #181717;
  }
  
  .save-button svg path {
    transition: 400ms;
  }
  
  .save-button:hover svg path {
    fill: white;
  }
  
  .consoleContainer {
    flex: 1;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 5px;
  }
  
  .consoleContainer h2 {
    margin-top: 0;
  }
  
  .consoleContainer pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    overflow: auto;
  }
  
  textarea {
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
  }
  
  .language-select {
    padding: 10px 20px;
    margin-left: 50px;
    border: 1px solid #ddd;
    width: 200px;
    border-radius: 8px;
    background-color: rgb(241, 243, 249);
    font-size: 16px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    cursor: pointer;
    outline: none;
  }
  
  .language-select:hover {
    background-color: #e2e6ea;
    border-color: #adb5bd;
  }
  
  .CodeMirror {
    border-radius: 8px;
  }
  
    /* .logo img {
      height: 40px;
    }
    
    nav a {
      margin-right: 20px;
      text-decoration: none;
      color: #333;
    }
    
    .mainContainer {
      display: flex;
      margin-top: 20px;
    }
    
    .codeEditorContainer {
      flex: 1;
      margin-right: 20px;
    }
    
    .languageSelect {
      margin-bottom: 10px;
    }
    
    .compileButton {
      margin-bottom: 10px;
    }
    
    .consoleContainer {
      flex: 1;
      background-color: #f5f5f5;
      padding: 20px;
      border-radius: 5px;
    }
    
    .consoleContainer h2 {
      margin-top: 0;
    }
    
    .consoleContainer pre {
      white-space: pre-wrap;
      word-wrap: break-word;
      background-color: #000;
      color: #fff;
      padding: 10px;
      border-radius: 5px;
      overflow: auto;
    }
    
    textarea {
      width: 100%;
      margin-top: 10px;
      border-radius: 5px;
    }
    
    .language-select {
      padding: 10px 20px;
      margin-left: 50px;
      border: 1px solid #ddd;
      width: 200px;
      border-radius: 8px;
      background-color: rgb(241, 243, 249);
      font-size: 16px;
      color: #333;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
      background-repeat: no-repeat;
      background-position: right 10px center;
      cursor: pointer;
      outline: none;
    }
    
    .language-select:hover {
      background-color: #e2e6ea;
      border-color: #adb5bd;
    }
    
    .CodeMirror {
      border-radius: 8px;
    }
     */